.titleButton {
    background-color: #d9cecc;
    border-radius: 20px;
    border: none;
    max-width: 25vw;
    padding: 10px 20px;
    cursor: pointer;
}

.itemSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}